@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 3px;
}
.header {
  display: flex;
  gap: 7em;
  color: #fff;
}
.header h1 {
  font-size: 30px;
}

.bg-img {
  background-image: url("../../assets/pikrepo.png");
  max-width: 100%;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  position: relative;
  z-index: 20;
}

.board {
  position: absolute;
  top: 53%;
  left: 50%;
  z-index: 30;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  max-width: 100%;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #000;
  cursor: pointer;
}

.Scoreboard {
  position: absolute;
  top: 3%;
  left: 37%;
  font-size: 4em;
}
.board .Scoreboard {
  margin-bottom: 0.5em;
  font-size: 4em;
}

.board .duration {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.name,
.Scoreboard,
span {
  color: rgb(192, 255, 114);
}

.user {
  margin-top: 2em;
}

.user .flex {
  display: flex;
  justify-content: space-around;
  gap: 5em;
  text-align: center;
  margin-bottom: 2em;
}

.user .flex .info {
  padding: 1em;
}
.flex {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(128, 211, 101, 0.35) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
